.title{
    text-align: center;
    color: lightslategray;
    font-size: 25px;
    font-family: Garamond;
}

.center-para{
  text-align: center;
  font-size: 15px;
  color: lightslategray;
  font-family: Garamond;
}

.title2{
  text-align: center;
  font-size: 25px;
  color: lightslategray;
  font-family: Garamond;
}

.center-para2{
  text-align: center;
  font-size: 15px;
  color: lightslategray;
  font-family: Garamond;
}

.aboutUsPage{
    text-align: center;
    background-color: lightblue;
}