.title{
    text-align: center;
    color: lightslategray;
    font-size: 25px;
}

.center-para{
  text-align: center;
  font-size: 15px;
  color: lightslategray;
}

.title2{
  text-align: center;
  font-size: 25px;
  color: lightslategray;
}

.center-para2{
  text-align: center;
  font-size: 15px;
  color: lightslategray;
}

.aboutUsPage{
    text-align: center;
    background-color: lightblue;
}

.aboutUsPicturesTop img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.aboutUsPicturesBottom img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.nameConrado{
  position: relative;
}

.nameRandy{
  position: relative;
  bottom:69px;
  left: 354px;
}

.nameMason{
  position: relative;
  bottom: 139px;
  right: 354px;
}

.nameJared{
  position: relative;
  bottom: 100px;
  right: 175px;
}

.cuprum {
  font-family: "Cuprum", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}