.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

.profile-pic {
    border-radius: 10px;
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.laptopText-class {
    margin: 0;
}