.laptopText-class {
    font-family: sans-serif;
    text-align: center;
    color: lightslategray;
}

.mainOutput-class {
    padding: 16px;
    font-family: Garamond;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}