<!DOCTYPE html>
<html>
 
<head>
  <link rel="stylesheet" href="/static/aboutUs.css">

</head>
 
<body>
    <h2 class="title">
    About
    </h2>

    <b class = "center-para"> We're Carleton Tampa. We are a group of college students at Carleton College creating a website so everyone can find a laptop with ease.
    </b>
    
    <h2 class = "title2">
    Meet the team!
    </h2>
    
    <b class = "center-para2">
      Insert pictures of group members
    </b>

    
    <script src="/static/aboutUs.js"></script>
</body>
 
</html>
