<!DOCTYPE html>
<html>
 
<body onclick="clickOut(event)">

    <head>
        <link rel="stylesheet" href="/static/aboutUs.css">
        <link rel="stylesheet" href="/static/changeMainWeb.css">
        <script src="/static/base.js"></script>
        <script src="/static/functionMainWeb.js"> </script>
        <script src="/static/aboutUs.js"></script>
    </head>


    <h1 class="main_heading" id="Title">

        <div>
            <a href="/">
                <img id="logo" src="/static/possible_logo.png" width="60%" height="55%">
            </a>
        </div>

        <div class="button-cont">
            <a href="/">
                <button class="search_button" id="home_button">
                    Home
                </button>
            </a>

            <a href="/about-us">
                <button class="search_button" id="about_us_button" onclick="go_about_us()">
                    About Us
                </button>
            </a>
        </div>

        <div class="button-cont">
            <input class="search_bar" id="user-search" placeholder="Search">
            <button class="search_button" id="search_button" onclick="search()">
                Search
            </button>
        </div>
    </h1>

<div class="aboutUsPage">
    <h1 class="title">
    About
    </h1>

    <b class = "center-para"> We're Carleton Tampa. We are a group of college students at Carleton College creating a website so everyone can find a laptop with ease.
    </b>
    
    <h2 class = "title2">
    Meet the team!
    </h2>
    
    <b class = "center-para2">
      Insert pictures of group members
    </b>

</div>

</body>
 
</html>
