<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carleton Tampa</title>
    <link rel="stylesheet" href="/static/changeMainWeb.css">
    <script src="/static/base.js"></script>
    <script src="/static/functionMainWeb.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="headerText-class">
        <a href="/">
            <img id="logo" src="/static/possible_logo.png" alt="Logo" width="140" height="130">
        </a>
        <nav>
            <a href="/">
                <button class="search_button" id="home_button">Home</button>
            </a>
            <a href="/about-us">
                <button class="search_button" id="about_us_button" onclick="go_about_us()">About Us</button>
            </a>
            <div class="search-container">
                <input class="search_bar" id="user-search" placeholder="Search">
                <button class="search_button" id="search_button" onclick="search()">Search</button>
            </div>
        </nav>
    </header>

    <main>
        <section class="secondTitle cuprum">
            <h1>Choose Laptop Specifications Here!</h1>
        </section>

        <section class="introductionText-class cuprum">
            <p>This is a webpage dedicated to laptops! It will list all the laptops for the brands listed in the dropdown menu and other specifications in other dropdowns!</p>
        </section>

        <form>
            <div class="form-container">
                <div>
                    <label for="brand">What Brand?</label>
                    <select id="brand">
                        <option selected disabled value="null">Choose Brand</option>
                        <option value="apple">Apple</option>
                        <option value="dell">Dell</option>
                        <option value="hp">HP</option>
                        <option value="lenovo">Lenovo</option>
                    </select>
                </div>

                <div>
                    <label for="ram">What Ram Size?</label>
                    <select id="ram">
                        <option selected disabled value="null">Choose Ram Size</option>
                        <option value="4">4 GB</option>
                        <option value="8">8 GB</option>
                        <option value="16">16 GB</option>
                        <option value="32">32 GB</option>
                    </select>
                </div>

                <div>
                    <label for="storage">What Storage Size?</label>
                    <select id="storage">
                        <option selected disabled value="null">Choose Storage Size</option>
                        <option value="64">64 GB</option>
                        <option value="256">256 GB</option>
                        <option value="512">512 GB</option>
                        <option value="1024">1024 GB</option>
                    </select>
                </div>

                <div>
                    <label for="screenSize">Screen Size?</label>
                    <select id="screenSize">
                        <option selected disabled value="null">Choose Screen Size</option>
                        <option value="10_12">10" - 11.9"</option>
                        <option value="12_14">12" - 13.9"</option>
                        <option value="14_16">14" - 15.9"</option>
                        <option value="16_100">16" or More</option>
                    </select>
                </div>

                <div>
                    <label for="touchScreen">Touchscreen?</label>
                    <select id="touchScreen">
                        <option selected disabled value="null">Touchscreen</option>
                        <option value="TRUE">Yes</option>
                        <option value="FALSE">No</option>
                    </select>
                </div>

                <div>
                    <label for="priceRange">Price?</label>
                    <select id="priceRange">
                        <option selected disabled value="null">Choose Price</option>
                        <option value="0_500">$0 - $500</option>
                        <option value="500_1000">$500 - $1000</option>
                        <option value="1000_1500">$1000 - $1500</option>
                        <option value="1500_2000">$1500 - $2000</option>
                        <option value="2000_2500">$2000 - $2500</option>
                        <option value="2500_3000">$2500 - $3000</option>
                        <option value="3000">$3000 or More</option>
                    </select>
                </div>
            </div>

            <div class="button-container">
                <button type="submit" class="button">Submit Specs</button>
            </div>
        </form>
    </main>

    <footer class="footer">
        <p>© 2024 Carleton Tampa. All rights reserved.</p>
    </footer>
</body>
</html>
