<head>

    <link rel="stylesheet" href="/static/base.css">
    <script src="/static/base.js"></script>

  </head>

  <h1 class="main_heading" id="Title">
    <marquee direction="left">
        <img id="logo" src="/static/Images/possible_logo.png">
        <img id="logo" src="/static/Images/possible_logo.png">
        <img id="logo" src="/static/Images/possible_logo.png">
        <img id="logo" src="/static/Images/possible_logo.png">
    </marquee>
    

    <input class="search_bar" id="user-search" placeholder="Search">
    
    <button class="search_button" id="search_button" onclick="search()">
        Search
    </button>

  </h1>




 