<head>

    <link rel="stylesheet" href="/static/base.css">
    <script src="/static/base.js"></script>

  </head>

  <h1 class="main_heading" id="Title">
    
    <div>
    <img id="logo" src="/static/Images/possible_logo.png" width="50%" height="50%">
    </div>

    <div>
    <button class="search_button" id="home_button" onclick="go_home()">
        Home
    </button>

    <button class="search_button" id="about_us_button" onclick="go_about_us()">
        About Us
    </button>
    </div>

    <div>
        <input class="search_bar" id="user-search" placeholder="Search">
        <button class="search_button" id="search_button" onclick="search()">
            Search
        </button>
    </div>

  </h1>




 