.main_heading{
    text-align: center;
    color: white;
    background-color: darkgreen;
    font: Garamond;
    font-size: 70px;
  }

.search_bar{
    width: 300px;
    height: 50px;
    text-align: right;
    font: Serif;
    background-color: black;
    font-size: 20px;
}