.main_heading{
    text-align: center;
    color: white;
    background-color: darkgreen;
    font: Garamond;
    font-size: 70px;
  }

.search_bar{
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

.search_bar:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.search_button{
    width: 50px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

.search_button:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}