.main_heading{
    text-align: center;
    color: white;
    background-color: #cfe2f3;
    font: Garamond;
    font-size: 70px;
    display: flex;
    align-items: center;
    gap: 250px;
  }

.search_bar{
    width: 30px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

.search_bar:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.search_button{
    width: 70px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

.search_button:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}