h1 {
  margin: 0;
}

.headerText-class {
  font-family: sans-serif;
  text-align: center;
  color: DarkSlateBlue;
  text-decoration: underline;
}

.introductionText-class {
  font-family: Garamond;
  text-align: center;
  color: lightslategray;
  font-size: 23px;
  text-decoration: underline;
}

.mainText-class {
  font-family: sans-serif;
  text-align: center;
  color: CornflowerBlue;
  font-weight: bold;
}

.button-container {
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #008CBA;
}

.secondTitle {
  text-align: center;
  color: #53b2d2;
  font: Garamond;
  background-color: antiquewhite;
  font-size: 70px;
}

.main_heading {
  text-align: center;
  color: white;
  background-color: #cfe2f3;
  font: Garamond;
  font-size: 70px;
  display: flex;
  align-items: center;
  gap: 500px;
}

.search_bar {
  width: 225px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
}

.search_bar:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.search_button {
  width: 70px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
}

.search_button:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.search_button:hover {
  width: 70px;
  border: 2px solid white;
  border-radius: 4px;
  padding: 5px;
  color:white;
  background-color: black;
}

.button-cont {
  display: flex;
  gap: 15px;
}